# Created by https://www.toptal.com/developers/gitignore/api/nim
# Edit at https://www.toptal.com/developers/gitignore?templates=nim

### Nim ###
nimcache/
nimblecache/
htmldocs/
.idea/
*.exe
# End of https://www.toptal.com/developers/gitignore/api/nim
